build/*.png
build/previz.html
build/test-geo.html
node_modules/
carte/node_modules/
carte/css-woff2.txt
carte/ilustratii/mari/
carte/ilustratii/miniaturi/
carte/ilustratii/redimensionate/
carte/ilustratii/plansa-*.jpg
carte/*.pdf
carte/*.png
carte/.lucru-*.html
carte/tipar-*.html
carte/.coperta*.html
carte/.log-*.txt
carte/ilustratii/tipar/
carte/.paginatie-*.json
carte/ilustratii/mini2/
carte/ilustratii/p2-*.jpg
carte/ilustratii/fond.json
build/.continut-*.json
carte/.docx-lucru/
carte/.epub-lucru/
carte/*.docx
carte/*.epub
carte/ilustratii/control-*.jpg
istoria-romaniei.html
carte/ilustratii/tipar-mare/
carte/ilustratii/ecran/
carte/ilustratii/figuri/
carte/ilustratii/epub-mic/
